---
import type { GetStaticPaths } from "astro";
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PageHeader from "@/components/PageHeader.astro";
import BlogPostCard from "@/components/BlogPostCard.astro";
import Pagination from "@/components/Pagination.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection('blog');
  const sortedPosts = allPosts.sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
  );

  const pageSize = 12;

  return paginate(
    sortedPosts,
    { pageSize }
  );
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---
<Layout title="Blog">
  <PageHeader title="Publicaciones recientes" />
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 mb-8">
      {
        page.data.map((post) => (
          <BlogPostCard post={post} />
        ))
      } 
    </div>
    <Pagination page={page} />
  </div>
</Layout>