---
import ButtonLink from "../ButtonLink.astro";
---

<section class="bg-primary">
  <div class="container mx-auto px-4 text-white text-center py-10">
    <h2 class="text-3xl font-bold underline-heading font-serif mb-4">¿Tienes alguna pregunta?</h2>
    <p class="text-lg mb-4">Contáctame y estaré encantada de ayudarte.</p>
    <ButtonLink href="/contacto" text="Contáctame" size="md" />
  </div>
</section>
